$color-white: #ffffff;

.footer {
  position: relative;
  bottom: 0;
  width: auto;
  height: auto; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

h6 {
  font-size: 16px;
  color: $color-white;
  line-height: 30px;
  font-weight: 400;
}

.w-5 {
  width: 25px;
}

.icon-size {
  font-size: 40px;
}

.h-6 {
  height: 42px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  color: $color-white !important;
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $color-white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  pointer-events: auto;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
